html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
:root {
  --very-dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-blue: hsl(240, 6%, 50%);
  --light-blue: hsl(240, 5%, 91%);
}

body {
  font-family: Kumbh Sans, sans-serif;
  font-size: 12px;
  color: var(--very-dark-blue);
  height: 100vh;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

/** For details tag styles **/
details {
  width: 100%;
  border-bottom: 1px solid var(--light-blue);
}

*:focus {
  outline: none;
}

summary {
  width: 300px;
  margin-top: 1.5em;
  padding: 1em;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

summary:hover {
  color: var(--soft-red);
}

.content {
  padding: 1em;
}

summary::-webkit-details-marker {
  display: none;
}

details summary::after {
  content: url("../images/icon-arrow-down.svg");

  float: right;
  /* you can style it however you want, use background-image for example */
}

details[open] summary {
  font-weight: 700;
}

details[open] summary::after {
  content: url("../images/icon-arrow-down.svg");
  transform: rotate(180deg);
  float: right;
}

.container-grid {
  display: grid;
  place-items: center;
  height: 100vh;
}

.faq {
  width: 70%;
  padding: 1.125em;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.illustration {
  display: flex;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.faq .img__first {
  position: relative;
  left: -80px;
  top: -10px;
}

.faq .img__second {
  position: absolute;
  z-index: 10;
  top: 32%;
  left: 80px;
}

.qa {
  align-self: center;
}

.qa__title {
  font-weight: 700;
  margin-left: 0.5em;
}

/** Media Queries **/
@media screen and (max-width: 375px) {
  .faq {
    width: 80%;
    flex-direction: column;
    margin-top: 40px;
  }

  .qa__title {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }

  .illustration {
    margin-top: -80px;
  }

  .faq .img__first {
    position: static;
    margin: 0 auto;
    width: 80%;
  }

  .faq .img__second {
    width: 20%;
    left: 60px;
    top: 70px;
  }

  summary {
    width: 100%;
    padding: 0.6em;
  }

  .content {
    padding: 0.1em;
  }
}
